.caja-piso {
    border-style: solid;
    border-color: #373b41;
    border-width: 0px;
    margin-bottom: 30px;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
}

.caja-piso:hover {
    -webkit-box-shadow: -1px -1px 31px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 31px 1px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 31px 1px rgba(0,0,0,0.75);
}

.caja-piso img {
    border-style: solid;
    border-color: #373b41;
    border-width: 0px 0px 0px 0px;
}

.caja-piso .descripcion {
    padding: 15px 15px 15px 15px;
}

body { 
    background-color: #FAFAFA;
}

.principal {
    background-color: #FAFAFA;
}

input {
    text-align: right;
}

fieldset {
    margin-bottom: 50px;
}

footer {
    margin-top: 200px;
}

.center {
    text-align: center;
}

.caption {
    text-align: right;
}

