*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
#no ignorar librerias necesarias como el driver de mysql
!WAR/WEB-INF/lib/* 
*.war
*.ear
#ignorar la puta basura de idea
.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

