.titulos {
    font-weight: bold; 
    font-size: 125%;
}

.carousel-inner .item {
    height: 400px;
    background-color: #a6a6a6;
}
.carousel-inner img {
    width: 100%;
    margin: auto;
}

.informacion {
    height: 400px;
}


.centrar-v {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

body {
    background-color: #FAFAFA;
}

.divider {
      height: 1px;
      width:100%;
      display:block;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
}

footer {
    margin-top: 200px;
}

