<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <description>Marketplace de inmuebles</description>
    <display-name>Jaus</display-name>
    <servlet>
        <servlet-name>InsertarInmueble</servlet-name>
        <servlet-class>servlets.InsertarInmueble</servlet-class>
        <multipart-config>
            <!-- Las imagenes se descargan en este directorio que se encuentra en la raiz-->
            <location>/imagenesSubidas</location>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarInmueble</servlet-name>
        <url-pattern>/insertarInmueble.do</url-pattern>
    </servlet-mapping>
</web-app>
